<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>DrillDown</display-name>
    <servlet>
        <servlet-name>DashboardServlet</servlet-name>
        <servlet-class>com.recallq.drilldown.ui.DashboardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>com.recallq.drilldown.ui.SearchServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DashboardServlet</servlet-name>
        <url-pattern/>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <context-param>
        <param-name>solrUrl</param-name>
        <param-value>http://localhost:8983/solr</param-value>
    </context-param>
    <context-param>
        <param-name>solrUsername</param-name>
        <param-value>guest</param-value>
    </context-param>
    <context-param>
        <param-name>solrPassword</param-name>
        <param-value>[redacted] </param-value>
    </context-param>
</web-app>
